* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande',
      'Lucida Sans', Arial, sans-serif;
  }
  
  body {
    background: linear-gradient(
      90deg,
      rgb(18, 18, 18) 0%,
      rgb(191, 193, 203) 100%
    );
  }
  .todo-app {
    display: flex;
    flex-direction: column;
    justify-content: start;
    width: 520px;
    min-height: 600px;
    background-color:rgb(55, 54, 54) ;
    text-align: center;
    margin: 128px auto;
    border-radius: 10px;
    padding-bottom: 32px;
  }
  
  h1 {
    margin: 32px 0;
    font-style: italic;
    color: #fff;
    font-size: 27px;
  }
  
  .complete {
    text-decoration: line-through;
    opacity: 0.4;
  }
  
  .todo-form {
    margin-bottom: 32px;
  }
  
  .todo-input {
    padding: 14px 32px 14px 16px;
    border-radius: 4px 0 0 4px;
    border: 2px solid #fefeff;
    outline: none;
    width: 320px;
    background: transparent;
    color: rgb(255, 255, 255);
  }
  
  .todo-input::placeholder {
    color: #ffffff;
  }
  
  .todo-button {
    padding: 14px;
    border: none;
    border-radius: 0 4px 4px 0;
    cursor: pointer;
    outline: none;
    background: linear-gradient(
      90deg,
      rgb(124, 122, 122) 0%,
      rgb(206, 201, 201) 100%
    );
    color: #fff;
    text-transform: capitalize;
  }
  
  .todo-input.edit {
    border: 2px  rgb(124, 122, 122) 0%,
    rgb(206, 201, 201) 100%
  }
  
  .todo-button.edit {
    background: linear-gradient(
      90deg,
      rgb(124, 122, 122) 0%,
      rgb(206, 201, 201) 100%
    );
    padding: 16px 22px;
  }
  
  .todo-container {
    display: flex;
    flex-direction: row;
    position: relative;
  }
  
  .todo-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 4px auto;
    color: #fff;
    background: linear-gradient(
      90deg,
      rgb(210, 205, 201) 0%,
      rgb(158, 156, 155) 100%
    );
  
    padding: 16px;
    border-radius: 5px;
    width: 90%;
  }
  
  .todo-row:nth-child(4n + 1) {
    background: linear-gradient(
      90deg,
      rgb(124, 122, 122) 0%,
      rgb(206, 201, 201) 100%
    );
  }
  
  .todo-row:nth-child(4n + 2) {
    background: linear-gradient(
      90deg,
      rgb(124, 122, 122) 0%,
      rgb(206, 201, 201) 100%
    );
  }
  
  .todo-row:nth-child(4n + 3) {
    background: linear-gradient(
      90deg,
      rgb(176, 178, 180) 0%,
      rgb(255, 255, 255) 100%
    );
  }
  
  .icons {
    display: flex;
    align-items: center;
    font-size: 24px;
    cursor: pointer;
  }
  
  .delete-icon {
    margin-right: 5px;
    color: rgb(0, 0, 0);
  }
  
  .edit-icon {
    color: rgb(0, 0, 0);
  }